body{
background-repeat: no-repeat;
background-size: 200%;
}
#boxlog{
	width: 300px;
	height: 415px;
	margin: auto;
	border: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #00000 #000000 #000000 #000000;
  background-position: center;
  }

#bxlg0{
	width: 300px;
	height: 70px;
	background-color: yellow;
  border: solid;
  border-width: 0px 0px 3px 0px;
}
#bxlg1{
	width: 300px;
	height: 70px;
	font-size: 40px;
  float: left;
	background-color: yellow;
	color: blue;
  font-style: italic;
	text-align:center;
}

.bxlgimg{
	width: 50px;
  height: 50px;

}
#boxlogcenter{
	width: 300px;
	height: 200px;
	float: left;
}
.boxinp{
	width: 300px;
	height: 20px;
	margin-left: 25px;
	margin-top: 25px;
	font-family: cursive;
  color: #FF0000;
}
.inp{
	width: 240px;
	height: 30px;
	margin-left: 25px;
	font-size: 20px;
	padding-left: 10px;
	background-color: #FFFFFF77;
}
#boxlogbottom{
	width: 300px;
	height: 80px;
	float:left;
	border: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #00000 #000000 #000000 #000000;
	background-color: yellow;
  margin-top: 20px;
}




#submit{
	width: 100px;
	height: 40px;
	font-size: 20px;
	margin-left: 25px;
  margin-top: 17px;
  color: #0000CC;
  font-family: italic;
}


#reset {
  width: 100px;
  height: 40px;
  font-size:20px;
  margin-left: 35px;
  color: #0000CC;
  font-family: italic;


}
